/mockito/MatkakorttiMockito/.nb-gradle/
/mockito/MatkakorttiMockito/build/
/vk5/IntJoukkoSovellus/.nb-gradle/
/vk5/IntJoukkoSovellus/build/
/vk5/Tennis/.nb-gradle/
/vk5/Tennis/build/
/vk6/Laskin/.nb-gradle/
/vk6/Laskin/build/